$card-columns-count: 5;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$blue-100: #a293bf;
$blue-200: #939abf;
$blue-900: #232154;

$grays: () !default;
$grays: map-merge((
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
), $grays);

$blue:    #5b53ec !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$purplepink: #9742c1;
$pink:    #e83e8c !default;
$red:     #bd081c !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #24b47e;
$lightgreen: #7eec9d;
$teal:    #20c997 !default;
$cyan:    #46f8ff !default;
$ghostwhite: #f1f8fa;

$colors: () !default;
$colors: map-merge((
        "blue":       $blue,
        "indigo":     $indigo,
        "purple":     $purple,
        "pink":       $pink,
        "red":        $red,
        "orange":     $orange,
        "yellow":     $yellow,
        "green":      $green,
        "teal":       $teal,
        "cyan":       $cyan,
        "white":      $white,
        "gray":       $gray-600,
        "gray-dark":  $gray-800
), $colors);

$primary:       $red;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white;
$dark:          $gray-800 !default;
$graylight:     $gray-100;
$gray200:       $gray-200;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark,
        "purple":     $purple,
        "purplepink": $purplepink,
        "indigo":     $indigo,
        "pink":       $pink,
        "cyan":       $cyan,
        "lightgreen": $lightgreen,
        "graylight": $graylight,
        "gray200": $gray200

), $theme-colors);
$theme-color-interval:      8% !default;

$yiq-contrasted-threshold:  150 !default;

$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

$enable-caret:              true !default;
$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:       true !default;
$enable-print-styles:       true !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 3),
        6: ($spacer * 6),
        7: ($spacer * 7),
        8: ($spacer * 8),
        9: ($spacer * 9),
        10: ($spacer * 10)
), $spacers);

$sizes: () !default;
$sizes: map-merge((
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

$body-bg:                   $white !default;
$body-color:                $dark;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1040px
) !default;


$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               1.8rem;

$display1-weight:             700;
$display2-weight:             700;
$display3-weight:             700;
$display4-weight:             700;

$btn-padding-y:               0.5rem;
$btn-padding-x:               1.5rem;
$btn-padding-y-lg:            0.9rem;
$btn-padding-x-lg:            1.5rem;

$dropdown-border-color:             transparent;
$dropdown-link-color:               rgba($black, .3);


